
<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :movie_name %><br>
  <%= form.text_field :movie_name , class: "col-xs-3", placeholder: "Movie Name", :required => true%>
<br>
  <%= form.label :summary %><br>
  <%= form.text_field :summary , class: "col-xs-3", placeholder: "Summary", :required => true%>
<br>
  <%= form.label :genre %><br>
  <%= form.text_field :genre, class: "col-xs-3", placeholder: "Movie Genre", :required => true%>
 <br>
 <%= form.label :year %><br>
 <%= form.select :year, (2000..Time.now.year).to_a, {:include_blank => "Select year", :required => true } , {class: "col-xs-3"}%>
<br>
  <%= form.label :imdb %><br>
  <%= form.text_field :imdb , class: "col-xs-3", placeholder: "Movie imdb link"%>
<br>
  <%= form.label :venue %><br>
  <%= form.collection_select :venue_id, Venue.order(:name),:id,:name, {:include_blank => "Select Venue", :required => true } , {class: "col-xs-3"} %>
  <br>

  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>
