<p id="notice"><%= notice %></p>


<table class= "table table-hover">
  <thead>
    <tr>
      <th>Movie name</th>
      <th>Year</th>
      <th>Summary</th>
      <th>Imdb</th>
      <th>Genre</th>
      <th>Venue</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 <tbody>
      <tr>
        <td><%= @movie.movie_name %></td>
        <td><%= @movie.year %></td>
        <td><%= @movie.summary %></td>
        <td><%= @movie.imdb %></td>
        <td><%= @movie.genre %></td>
        <td><%= @movie.venue&.name %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %> |
<%= link_to 'View Seats', movie_seats_path(@movie) %>