<p id="notice"><%= notice %></p>


<table class= "table table-hover">
  <thead>
    <tr>
      <th><b>Rows</b></th>
      <th><b>Columns</b></th>
      <th><b>Name</b></th>
      <th colspan="3"></th>
    </tr>
  </thead>
 <tbody>
      <tr>
        <td><%= @venue.rows %></td>
        <td><%= @venue.columns %></td>
        <td><%= @venue.name %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
